# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.tsv
*.pkl


# virtualenv
.venv
venv/
ENV/

ModelAnalysis/
Data/
data/
cache/
*.ipynb_checkpoints
*.swp
*.DS_Store
.RData
.Rapp.history
.Rhistory

Configuration
